# Зависимости (очень тяжелая папка, её не заливают)
node_modules/

# Папка со скомпилированным JavaScript (обычно dist или build)
dist/
out/
build/

# Логи и временные файлы
*.log
.eslintcache

# Секретные ключи и переменные окружения
.env
.env.local
